.center{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 15%;
}
#clocktext{
    font-size: 10em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#datetext{
  font-size: 5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("/assets/downloads/win11/wallpapers/touchkeyboard/TouchKeyboardThemeLight003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color:white;
}
#fullscreen_btn{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  padding: 10px;
}
#settings_btn{
  position: absolute;
  bottom: 0;
  width: 20px;
  padding: 10px;
}