/*
@font-face {
    font-family: 'cutive_monoregular';
    src: url('assets/fonts/cutive_monoregular/cutivemono-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/cutive_monoregular/cutivemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

body {
  /*background-image: url("assets/background.png");*/
  background-color: rgb(252, 252, 252);
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  /*background-repeat:repeat-y*/
}
details{
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(240, 239, 240);
}
a:visited{
  color: rgb(9, 33, 234);
}
#viewsource{
            padding-left:30px;
            border-radius:7px;
            height:25px;
            border-width: 1px;
            background-color:#00B9FF ;
            background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
            background-repeat:no-repeat;
            background-size: 25px;
}
#viewsource-link{
  text-decoration: none;
}
ul{
  list-style: none;
}
#lightmode_container {
  position: relative;
}
#lightmode_container img {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* Image gallery */
#gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px;
  filter: none;
}
@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}
#lightmode_container img{
  width: 20px;
  height: 20px;
}