body {
  background-color: rgb(252, 252, 252);
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
details{
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(240, 239, 240);
}
a:visited{
  color: rgb(9, 33, 234);
}
ul{
  list-style: none;
}