/*
@font-face {
    font-family: 'cutive_monoregular';
    src: url('assets/fonts/cutive_monoregular/cutivemono-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/cutive_monoregular/cutivemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
  font-family: 'nobile-regular';
  src: url('assets/fonts/Nobile/Nobile-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  /*background-image: url("assets/background.png"); */
  background-color:rgb(241, 239, 239);
  font-family: 'nobile-regular', monospace, sans-serif;
  color: black;
}
a:visited{
  color: rgb(9, 33, 234);
}
