body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fexternal-preview.redd.it%2F9Os4XFeayn-hYt7kLnNpXKA-RpE8QAHeHrRH2kfOdHw.jpg%3Fauto%3Dwebp%26s%3D4e498ecd34b033b74d79b413ebc2f151422394a7&f=1&nofb=1&ipt=c8a759e7394215fa472e9aa9665a824f14d62fa287b2d579b9f3081756a5b879&ipo=images");
    backdrop-filter: blur(10px) brightness(0.6);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: sans-serif;
    color: white;
    font-size: 120px;
    margin: 0;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

#gameSelect {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding-inline: 5px;
}
#gameSelect button {
    width: calc(25vw - 6px);
    height: 70px;
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
    border: 1px solid white;
    cursor: pointer;
    font-size: 25px;
}