@font-face {
    font-family: "Mojangles";
    src: url("Mojangles.ttf");
    src: url("Mojangles.ttf") format("ttf")
}
body{
    font-family: 'Mojangles', monospace, sans-serif;
    margin-top: 0px;
    margin-left: 267px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: black;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url("background/dirt.png");
    background-size: 21px;
}
.sideimage{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url("mcworldflat.jpeg");
    background-repeat: no-repeat;
    width: 267px;
    height: 899px;
    position: absolute;
    left: 0;
    top: 0;
}
.bottomlinks{
position: fixed;
left: 0;
bottom: 0;
padding-bottom: 3px;
padding-left: 3px;
background-color: white;
}
.maincontent{
    padding-top: 4px;
    padding-left: 8px;
    padding-bottom: 3px;
    color: white;
    height: 100%;
}
a:visited{
    color: lightgray;
}
.statusbanner{
    width: 70%;
}