@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
:root{
    --background-image: url("images/bud_computer_bg.png");
    --pointer: url("images/cursors/pointer.cur"), pointer;
    --arrow: url("images/cursors/arrow.cur"), auto;
    --move: url("images/cursors/move.cur"), move;
    cursor: var(--arrow);
}
@keyframes enter{
        0% {
          transform: rotateX(-100deg);
          transform-origin: top;
          opacity: 0;
        }
        100% {
          transform: rotateX(0deg);
          transform-origin: top;
          opacity: 1;
        }      
}
@keyframes disco{
    0% {
        background: #ec4213;
      }
    100% {
        background: #2c41ff;
    }
}
.disco{
    animation: disco 1.5s linear infinite alternate both;
}
body{
    /* background: rgb(246,140,203);
    background: linear-gradient(90deg, rgba(246,140,203,1) 1%, rgba(39,191,222,1) 100%); */
    background-color: rgb(1, 130, 129);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 50% 50%;
    overflow: clip;
    margin: 0px;
    height: 100vh;
}
*::selection{
    color: black;
    background-color: rgba(71, 143, 221, 0.575);
}
#window{
    position: absolute;
    width: 85%;
    height: 75%;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F3F3EA;
    padding: 0px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#chat-history{
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
}
.chat-item{
    background-color: #E8E8D3;
    padding: 5px;
    font-family: 'BIZ UDPMincho', serif;
    overflow-x: scroll;
    overflow-wrap: break-word;
    font-size: 16px;
    animation: enter 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
#chat-input{
    background-color: #E8E8D3;
    border: 2px inset #c6bebe;
    font-family: 'BIZ UDPMincho', serif;
    width: calc(100vw - 80px);
    padding: 1px 2px;
    display: inline-block;
}
#submit-button{
    background: #EEEEEC;
    border: 3px outset #dbd7d7;
    width: 50px;
}
#chatform{
    position: fixed;
    bottom: 0;
    padding: 5px;
}
.titlebar{
    background: rgb(215,232,255);
    background: linear-gradient(90deg, rgb(183, 211, 249) 0%, rgba(44,125,210,1) 100%);
    padding: 2px;
    padding-left: 5px;
    height: 18px;
    user-select: none;
    cursor: var(--move);
}
.closebtn{
    position: absolute;
    right: 0;
    padding: 2px;
    margin-right: 5px;
    color: #000;
	background-color: silver;
    border-left: 2px solid #ededed;
    border-top: 2px solid #ededed;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;
}
.closebtn:active{
    border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #efefef;
	border-bottom: 2px solid #efefef
}
.closebtn:hover{
    cursor: var(--pointer);
}
.titlebar label{
    padding-left: 10px;
    padding-bottom: 3px;
    cursor: var(--move);
}
#window-titlebar{
    cursor: var(--arrow);
}
.emote{
    width: 16px;
}
#desktop{
    z-index: -1;
}
.desktop-label{
    color: white;
    font-family: 'BIZ UDPMincho', serif;
    font-size: 12px;
    cursor: var(--pointer);
}
.desktop-image{
    padding: 4px 1px;
    width: 32px;
    transform: translateX(50%);
    cursor: var(--pointer);
    user-select: none;
}
.desktop-icon{
    transform: translateX(-25px);
    width: fit-content;
}
#budapplabel{
    padding-left: 5px;
}
figcaption{
    user-select: none;
}
#ie-window{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 2px;
    background: silver;
    padding-top: 0px;
}
#ie-window .fullimage{
    width: 100%;
}
#ie-window .urlbar{
    width: 99%;
    font-family: monospace;
}
#stats-window{
    width: fit-content;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -70%);
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    z-index: 3;
}
#nyan-window{
    width: fit-content;
    left: 80px;
    top: 30px;
}
.windowdiv{
    position: absolute;
    background-color: #e8e8df;
    padding: 0px;
}
.windowdiv .window-content{
    padding: 5px;
}
#stats-window ul{
    list-style: none;
    padding-left: 0px;
}
a:hover{
    cursor: var(--pointer);
}
@media (max-width: 450px) {
    #window{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 850px) {
    #ie-window{
        width: 95vw;
    }
}