/* Added some tailwind style classes since I started doing this in tailwind but decided to stop. */

.pl-3{
    padding-left:  3px;
}
.pr-3{
    padding-right: 3px;
}
.flex{
    display: flex;
}
.navlink{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}
.nav-tooltip ul{
    list-style: none;
    padding: 3px 3px 3px 10px;
}
.navlink:hover{
    background-color: #DADADA;
}
.navbar-main{
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
}
.navbar-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-hr{
    height: 0;
    color: grey;
    border-top-width: 1px;
    margin-top: 0;
}
.tooltip-tools, .tooltip-fun, .tooltip-resources, .tooltip-more{ display:none }
#navbar-tools:hover .tooltip-tools{
    display: block;
}
#navbar-fun:hover .tooltip-fun{
    display: block;
}
#navbar-resources:hover .tooltip-resources{
    display: block;
}
#navbar-more:hover .tooltip-more{
    display: block;
}
.nav-tooltip{
    background-color: #F0F0F0;
    font-family: sans-serif;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    list-style: none;
    position: absolute;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.465) 0px 2px 8px 0px;
    transform: translateX(-5px);
}
.nav-tooltip a{
    color: black;
}

body{
    margin-top: 50px;
}

.hidden{
    display: none;
}