@import url("animations.css");
body{
  /* background-image: url("assets/banana_large.png");
  background-color: yellow;
  background-size: 100px; */
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ),
        /* bottom, image */
        url("assets/background.png");
  background-color: yellow;
  background-size: 200px;
}
.bigbanana{
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scale-down-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000 ) both;
  user-select: none; /* Prevent that annoying accidental selection! */
}
.bigbanana:hover {
    animation: scale-up-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000 ) both;
}
#bananacount{
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 32px;
}
#bpscount{
  color:white;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
}
#toast{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  position: absolute;
  top: 95%;
}
#shop{
  width:20%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(36,36,36);
  background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(13,13,13,1) 100%);
  overflow-y: scroll;
}
#shop h1, h2, h3{
  color:white;
  text-align: center;
  font-family: 'Frijole', sans-serif;
}
.shopcard img{
  padding-left: 0px;
  margin-left: 0px;
  position: relative;
  left: 0;
}
.shopcard{
  color:white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  user-select: none;
}
.shopcard label{
  font-size: large;  
  padding-left: 3px;
}
.shopcard:hover{
  background-color: rgb(22, 22, 22);
}
.shopcardprice{
  top: 0;
  right: 3px;
  font-size: small;
}
.strk{
  text-decoration: line-through;
}
.upgradelabel{
 color: white; 
 font-family: 'Rubik', sans-serif;
 font-size: 20px;
 vertical-align: super;
 user-select: none;
}
.upgradedescription{
  color:white;
  font-family: 'Rubik', sans-serif;
  padding-left: 5px;
  user-select: none;
}
#yourname{
  font-family: 'Press Start 2P', sans-serif;
}
#changelog{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: fit-content;
  background-color: #1f1f1e;
  color: white;
  z-index: 10;
  font-family: sans-serif;
}
.changelogtitle{
  font-family: 'Press Start 2P', sans-serif;
}
.shakeanim:hover{
  animation: vibrate-1 0.3s linear infinite both;
}
#changelog label:hover{
	animation: jello-horizontal 0.9s 0.5s infinite both;
}
button{
  background-color:rgb(218, 204, 204);
  border-color: rgb(218, 204, 204); 
  border-style: groove;
}
#changelog_content{
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 150px;
}
.changelog-closex{
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 5px;
  padding-right: 5px;
  color: white;
  text-decoration: none;
}